<%- include('../partials/header') -%>
<div class="jumbotron">
    <h1>This is the index page</h1>
</div>

<div class="container-md">
    <div class="d-none d-md-flex row justify-content-center">
        <div class="col-lg-10 border rounded mb-5">
            <ul class="list-unstyled">
                <% blogs.forEach((blog)=>{%>
                <li class="media">
                    <div class="align-self-center pr-5">
                        <img class=" img-fluid align-self-center" width="250" src="<%= blog.image%>"
                            alt="<%= blog.title%>">
                    </div>
                    <div class="media-body">
                        <header>
                            <h4><%= blog.title%></h4>
                            <h6 class="text-secondary">Author ~ <%= blog.author.username%></h6>
                        </header>
                        <div><%- blog.body.substring(0,100) -%></div>
                        <div>
                            <a href="/blogs/<%= blog._id%>" class="btn btn-outline-info">
                                Read More <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <%})%>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center d-md-none">
        <div class="mx-3 mx-sm-5 px-sm-3">
            <ul class="list-unstyled">
                <% blogs.forEach((blog)=>{%>
                <li class="">
                    <div class="text-center align-self-center">
                        <img class=" img-fluid" src="<%= blog.image%>" alt="<%= blog.title%>">
                    </div>
                    <div class="my-4">
                        <header>
                            <h4><%= blog.title%></h4>
                            <div class="text-secondary">Author ~ <%= blog.name%></div>
                        </header>
                        <div><%- blog.body.substring(0,100) -%></div>
                        <div>
                            <a href="/blogs/<%= blog._id%>" class="btn btn-outline-info">
                                Read More <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <%})%>
            </ul>
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>