<%- include('../partials/header') -%>
<!-- <div class="jumbotron">
    <h1>This is the Show Page</h1>
</div> -->
<div class="container-md my-5">
    <div class="row justify-content-center">
        <div id="detail" class="col-lg-10 rounded-lg py-4 px-3 mx-3 my-5">
            <header class="header">
                <h2 class="display-4 title"><%= blog.title%></h2>
            </header>
            <div class="text-center my-3 border-bottom">
                <img class="img-fluid pb-3" src="<%= blog.image%>" alt="<%= blog.title%>">
            </div>
            <div><%- blog.body -%></div>
            <div class="py-2">
                <h3 class="d-inline"> <i class="fa fa-user-circle-o pr-2"></i> <%= blog.author.username%></h3>
                <span class="float-right"> <strong>Created At - </strong><%= blog.createdAt.toDateString()%></span>
            </div>
            <% if(currentUser && blog.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-outline-warning px-4 mr-2" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form class="d-inline" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger px-3">Delete</button>
            </form>
            <% } %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class=" mb-5 p-3 bg-light border border-light rounded">
                <a href="/blogs/<%= blog._id %>/comments/new" class="btn btn-primary btn-sm float-right">
                    Leave a Review</a>
                <h4 class="pl-0">Reviews</h4>
                <hr>
                <ul class="list-unstyled">
                    <%blog.comments.forEach(comment => { %>
                    <li class="mb-0 pb-0">
                        <small class="float-right">10 days ago</small>
                        <strong><i class="fa fa-user-circle-o mr-2"></i><%= comment.author.username %></strong>
                        <div>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <small class="float-right">
                                <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit">edit</a>
                                <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE"
                                    class="d-inline ml-2" method="POST">
                                    <button class="btn btn-outline-danger btn-sm border-none" type="submit">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </form>
                            </small>
                            <% } %>
                            <p class=""><%= comment.comment %></p>
                        </div>
                    </li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>