<%- include('partials/header') -%>
<div class="jumbotron">
    <h1>This is the Show Page</h1>
</div>
<div class="container-md mb-5">
    <div class="row justify-content-center">
        <div id="detail" class="col-lg-10 rounded-lg py-4 px-3 mx-3">
            <header class="header">
                <h2 class="display-4 title"><%= blog.title%></h2>
            </header>
            <div class="text-center my-3 border-bottom">
                <img class="img-fluid pb-3" src="<%= blog.image%>" alt="<%= blog.title%>">
            </div>
            <div><%- blog.body -%></div>
            <div class="py-2">
                <h3 class="d-inline"> <i class="fa fa-user-circle-o pr-2"></i> <%= blog.name%></h3>
                <span class="float-right"> <strong>Created At - </strong><%= blog.createdAt.toDateString()%></span>
            </div>
            <a class="btn btn-outline-warning px-4 mr-2" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form class="d-inline" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger px-3">Delete</button>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>